table {
    width: 600px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
    border:1px solid #000;
    cellspacing:0px;
    margin-top: 10px;
}

td {
    text-align: center;
    border: 1px solid black;
}