.container{
    width: 600px;
    padding-left: 50px;
}
.container_item{
    width: 600px;
    padding: 3px;
}
.input_add{
    width: 380px;
    padding: 3px;
}
.input_search{
     width: 435px;
     padding: 2px;
}
.select{
    padding: 3px;
    margin: 0 5px;
}
.button_right{
    padding: 3px;
    margin: 0 5px;
}